<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Reader</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="w-screen h-screen flex justify-center items-center p-20 bg-slate-200"
  >
    <div
      class="min-w-96 w-fit min-h-64 h-fit container p-10 rounded-lg bg-white shadow-2xl"
    >
      <div class="flex items-center justify-center gap-2 mb-7">
        <img
          src="https://img.icons8.com/?size=40&id=39195&format=png&color=000000"
          alt="PDF"
        />
        <h2 class="text-xl font-semibold">PDF Reader</h2>
      </div>
      <form
        action="/extract"
        method="post"
        class="flex flex-col"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          id="pdf"
          name="pdf"
          accept="application/pdf"
          class="hidden"
          required
        />
        <label
          for="pdf"
          class="cursor-pointer inline-block bg-slate-50 border-2 border-red-700 font-semibold hover:bg-slate-100 text-red-700 text-center px-4 py-3 rounded-lg transition duration-300"
          id="label"
        >
          Choose PDF
        </label>
        <input
          type="submit"
          value="Extract text"
          class="cursor-pointer inline-block bg-red-700 hover:bg-red-600 font-semibold text-white text-center px-4 py-3 rounded-lg transition duration-300 mt-1"
        />
      </form>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
</html>
